{% extends 'TrismegistePortalBundle::zenlayout.html.twig' %}

{% set providerColor={facebook:'#3B5998', twitter:'#4099FF', dummy:'hotpink'} %}

{%block stylesheets %}
    {{ parent() }}
    <style>
        .content a {
            color: #777;
        }
        .social-oauth {
            font-size: 10em;
            color: grey;
        }
        {# the things we do for better user experience: dynamic CSS #}
        {% for key, color in providerColor %}
            a.{{ key }}:hover {
                color: {{ color }};
            }
        {% endfor %}
        .icon-dummy-sign:before { content: '\f188'; } /* '' */
    </style>
{% endblock %}

{% block centered_column %}
    <div class="pure-g">
        {% for provider, color in providerColor %}
            <div class="pure-u-1 pure-u-md-1-2 is-center">
                <a href="{{ path('trismegiste_oauth_connect_with', {provider:provider}) }}"
                   title="Login with {{ provider|capitalize }}"
                   class="social-oauth {{ provider }}">
                    <i class="icon-{{ provider }}-sign"></i>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
