{# listing of Plans #}
{% extends 'TrismegistePortalBundle:Front:layout_w_menu.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/trismegisteportal/css/pricing.css') }}"/>
{% endblock %}

{% block content_body %}
    <div class="product">
        <h1>Choose your plan</h1>
        <div class="pricing-tables pure-g">
            {% for item in plan %}
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                    <div class="pricing-table pricing-table-{{item.code}}">
                        <div class="pricing-table-header">
                            <h2>{{item.name}}</h2>
                            <span class="pricing-table-price">
                                ${{item.price}} <span>per month</span>
                            </span>
                        </div>
                        <ul class="pricing-table-list">
                            <li>Free setup</li>
                            <li>Standard customer support</li>
                            <li>Unlimited user accounts</li>
                            <li>{{item.storageLimit}}GB file storage</li>
                            <li>{{item.dbLimit}}GB database size</li>
                            <li>{{item.bandwidthLimit}}GB per month bandwidth</li>
                            <li>Free marketing tools and coupon</li>
                            <li>Monetize your site with Paypal</li>
                        </ul>
                        <form action="{{ path('front_plan_checkout', {sku:item.code}) }}" method="GET">
                            <button class="button-choose pure-button">Choose</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}